zmodule environment

zmodule jeffreytse/zsh-vi-mode
zvm_after_init_commands+=('bindkey -M viins "^N" history-substring-search-down; bindkey -M viins "^P" history-substring-search-up')

zmodule prompt-pwd
zmodule git-info
zmodule minimal

zmodule zsh-users/zsh-completions --fpath src
zmodule completion

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

zmodule zsh-users/zsh-autosuggestions

